.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App{
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.app-form{
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #61dafb;
  width: 50%;
  height: 15em;
}
.form-terminos{
  color: red;  
  margin: 2em;
}
.form-input{
  width: 150px;
  height: 30px;
}
.App-link {
  color: #61dafb;
}

button {
  width: 200px;
  height: 30px;
  background-color: aquamarine;
  border: 1px rgb(123, 197, 187) solid;
}
button :hover{
  background-color: yellow;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
